:root {
  /* Escala de cores coloridas */
  --cor-primary: #c92071;
  --cor-secondary: #b5b6f2;
  --cor-tertiary: #991956;
  --cor-error: #ee4266;
  --cor-sucess: #52ca76;
  --cor-warning: #f6aa1c;
  --cor-warning-dark: #cb8c18;
  /* Escala de cinza */
  --cor-dark-gray: #1f1f1f;
  --cor-dark-gray-2: #474747;
  --cor-dark-gray-3: #666666;
  --cor-light-gray: #8f8f8f;
  --cor-light-gray-2: #cccccc;
  --cor-light-gray-3: #f5f5f5;
  --cor-white: #ffffff;
}

.meus-pedidos-container {
  width: 890px;
  padding: 30px;
  border-radius: 4px;
  background-color: var(--cor-light-gray-3);
}

.meus-pedidos-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.meus-pedidos-header-container > h1 {
  font-weight: 700;
  font-size: 24px;
  color: var(--cor-dark-gray-2);
}

.meus-pedidos-header-container > span {
  font-size: 14px;
  color: var(--cor-dark-gray-3);
}
