:root {
  /* Escala de cores coloridas */
  --cor-primary: #c92071;
  --cor-secondary: #b5b6f2;
  --cor-tertiary: #991956;
  --cor-error: #ee4266;
  --cor-sucess: #52ca76;
  --cor-warning: #f6aa1c;
  --cor-warning-dark: #cb8c18;
  /* Escala de cinza */
  --cor-dark-gray: #1f1f1f;
  --cor-dark-gray-2: #474747;
  --cor-dark-gray-3: #666666;
  --cor-light-gray: #8f8f8f;
  --cor-light-gray-2: #cccccc;
  --cor-light-gray-3: #f5f5f5;
  --cor-white: #ffffff;
}

.pedidos-solicitados-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedidos-solicitados-container > section {
  display: flex;
  gap: 1rem;
}

.pedidos-solicitados-container > section > div > span {
  color: var(--cor-light-gray);
  font-size: 12px;
  font-weight: 500;
}

.pedidos-solicitados-container > section > div > h2 {
  font-weight: 700;
  font-size: 14px;
  color: var(--cor-dark-gray-2);
}

.pedidos-solicitados-container > section > figure {
  width: 75px;
  height: 60px;
  background-color: #e2e3ff;
  border-radius: 2px;
  padding: 10px;
}

.pedidos-solicitados-container > section > figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pedidos-solicitados-container > span {
  font-weight: 700;
  font-size: 14px;
  text-align: right;
}

.pedidos-solicitados-container > span::first-letter {
  text-transform: uppercase;
}

.pedidos-solicitados-container > span.transito {
  color: var(--cor-warning);
}

.pedidos-solicitados-container > span.finalizado {
  color: var(--cor-light-gray);
}

.pedidos-solicitados-container > span.cancelado {
  color: var(--cor-error);
}

.line-top-product {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
